#searchResult{
    margin: 0 auto 0 auto;
    margin-top:10px;
    width:900px;
    float:left;
    border:red 1px solid;

}

.searchResultTable{
    border:1px solid black;
}

.searchResultTable li
{
   list-style-type:none;
}


.searchResultTable td{
    border:1px solid #d4d4d4;
}
.userDataCollumn, .offertDataCollumn
{

    font-size:14px;
    font-family:'Comic Sans MS';
}
.offertUserImage{
    width:100px;
    height:100px;
    border-radius: 50px;
    margin-right:20px;
}
.descriptionCollumn{
    font-size:12px;
    font-family:'Comic Sans MS';
}

.priceCollumn{
    color:green;
    font-size:20px;
}