.rideSearch {
    float:left;
    border-bottom: 1px #e9e4e4 solid;
}

.rideSearch ul {
  float: right;
  margin: 3px 0 0 0;
  padding: 0;
  list-style: none;
}

.rideSearch li {
  float: left;
  display: inline;
 
  color: #bbb;
  margin: 0 0 0 16px;
  padding: 0;
}
.rideSearch .rideSearchSearchRideBtnControl{
    margin-top:2px;
}


.SearchButton
{
    margin-top:12px;
    padding-bottom:10px;
    font-family:'Comic Sans MS';
     font-size:20px;
    

    height:40px;
}

.SearchButton:hover{
    background-color:#f7df92;
}
